/* 'Heebo' Font */
@import url('https://fonts.cdnfonts.com/css/heebo');

/* Responsive (320px, 768px, 1024px) */

:root {
    --backgroundColor: rgb(125, 0, 0);
    --titleColor: rgb(225, 225, 225);
    --textColor: rgb(200, 200, 200);
    --titleFont: 'Heebo', sans-serif;
}

* {
    font-family: var(--titleFont);
    font-weight: 400;
}

body {
    font-size: large;
    background-color: aliceblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--titleFont);
    font-weight: 500;
}










.test {
    max-resolution: 100%;
}

.pagina_favorita {
    text-decoration: underline;
    text-transform: uppercase;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(14, 28, 38);
}

img {
    align-self: center;
    border-radius: 14px 14px;
    border: 6px 6px 6px 6px;
    outline: 5px;
    outline-color: rgb(255, 255, 255);
    outline-style: solid;
}


div.container {
   text-align: center;
}

ol.receta, ul.receta, ul.hobbies {
    display: inline-block;
    text-align: left;
}

div ol li, div ul li, ul li {
    text-align: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table_center {
    margin-left: auto;
    margin-right: auto;
}

table {
    text-align: center;
}

table caption {
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: underline;
}

table thead {
    color: rgb(200, 200, 200);
}

table tbody tr td {
    color: rgb(150, 150, 150);
}

nav, main, section, article, aside {
    color: aliceblue;
}